<div class="row p-2">
  <div class="col-sm p-2">
    <div class="card" (click)="onChoose('CLIENT')">
      <img src="assets/site/picture.png"
        class="card-img-top" alt="...">
      <div class="card-body text-center">
        <h5 class="card-title">Galerie</h5>
        <p class="card-text">Accéder à la galerie</p>
      </div>
    </div>
  </div>
  <div class="col-sm p-2">
    <div class="card" (click)="onChoose('OWNER')">
      <img src="assets/site/gerer.png"
        class="card-img-top" alt="...">
      <div class="card-body text-center">
        <h5 class="card-title">Gérer</h5>
        <p class="card-text">Ajouter et supprimer des images</p>
      </div>
    </div>
  </div>
</div>
